{% extends "base.html" %}
{% block content %}
    <div class="m-content m--align-center">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="m-portlet m--bg-danger m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height ">
                    <div class="m-portlet__body">
                        <!--begin::Widget 7-->
                        <div class="m-widget7 m-widget7--skin-dark">
                            <div class="m-widget7__desc">
                                <div>Thank you for playing!</div>
                                <br />
                                <div>Here's your total score {{ player.name }}</div>
                                <br />
                                <div> {{ player.score }} poin{{ player.score|pluralize:"t,ts" }}</div>
                            </div>
                            <div class="m-widget7__user">
                                <span class="m-widget7__username">
                                </span>
                            </div>
                            <div class="m-widget7__button">
                                <a class="m-btn m-btn--pill btn btn-accent" href="{% url 'student:student_game' %}" role="button">
                                    Return Home
                                </a>
                            </div>
                        </div>
                        <!--end::Widget 7-->
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock content %}
