{% extends "base.html" %}

{% block content %}
    <div class="m-content m--align-center">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--rounded">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Welcome {{ nickname }} to the game!
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        Thanks for joining the game. Please wait for admin to start the game. Have fun!
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script>
        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_path = "/stream/";
            console.log("Connecting to " + ws_path);

            var webSocketBridge = new channels.WebSocketBridge();
            webSocketBridge.connect(ws_path);
            // Handle incoming messages
            webSocketBridge.listen(function(data) {
                if(data['start']) {
                    url = Urls['student:take_quiz']();
                    url = url + "?nickname=" + "{{ nickname }}" + "&id=" + "{{ player_id }}";
                    window.location.href = url;
                }
            });

            // Helpful debugging
            webSocketBridge.socket.onopen = function () {
                console.log("Connected to chat socket");
            };
            webSocketBridge.socket.onclose = function () {
                console.log("Disconnected from chat socket");
            }
        });
    </script>

{% endblock extra_js %}
