{% extends "base.html" %}

{% block content %}
    <div class="m-content m--align-center">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <!--begin::Form-->
                <form class="m-form m-form--fit" action="{% url 'student:student_game' %}" method="post">
                    {% csrf_token %}
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">
                            <div class="m-form__heading">
                                <h3 class="m-form__heading-title">
                                    WELCOME
                                </h3>
                                <div class="form-group m-form__group">
                                    <label for="example_input_full_name">
                                        Nickname
                                    </label>
                                    <input type="text" name="nickname" class="form-control m-input" placeholder="Enter nickname">
                                </div>
                                <div class="form-group m-form__group">
                                    <label for="example_input_full_name">
                                        Game Pin
                                    </label>
                                    <input type="text" name="game_pin" class="form-control m-input" placeholder="Enter Game Pin">
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                            <div class="m-form__actions ">
                                <button type="submit" class="btn btn-success">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock content %}
