{% extends "base.html" %}
{% block content %}
    <div class="m-content">
        <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <!--begin::Portlet-->
                    <div class="m-portlet m-portlet--tab">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Question {{ qidx|add:"+1" }}
                                    </h3>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                    <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push">
                                        <h4 id="take-quiz-timer">00:30</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <!--begin::Section-->
                            <div class="m-section">
                                <span class="m-section__sub">
                                    Please select from the choices:
                                </span>
                                <div class="m-section__content">
                                    <div class="m-demo">
                                        <div class="m-demo__preview">
                                            <div class="m-form__group form-group">
                                                <input type="hidden" id="set-choices" value="{{ choices }}">
                                                <div class="m-radio-list" id="choices">
                                                    {% for values in choices %}
                                                        {% for key, value in values.items %}
                                                            <label class="m-radio">
                                                                <input type="radio" {% if forloop.first %}checked{% endif %} name="answer" value="{{ value }}">
                                                                {{ key }}
                                                                <span></span>
                                                            </label>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="question_index" value="" />
                                {% if choices %}
                                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit m--align-center">
                                        <div class="m-form__actions ">
                                            <button type="button" id="submit-answer" class="btn btn-success">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <!--end::Section-->
                        </div>
                    </div>
                    <!--end::Portlet-->
                </div>
                <div class="col-md-2"></div>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script>
        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_path = "/stream/";
            console.log("Connecting to " + ws_path);

            var webSocketBridge = new channels.WebSocketBridge();
            webSocketBridge.connect(ws_path);
            // Handle incoming messages
            webSocketBridge.listen(function(data) {
                if (data['choices']) {
                    if ($("#set-choices").val() == ""){
                        $("#take-quiz-timer").show();
                        $("#question_index").val(data['question_index']);
                        url = Urls['student:take_quiz']();
                        url = url + "?nickname={{ nickname }}&id={{ player_id }}&campaignid="+data['campaign_id'] + "&qidx=" + data['question_index'];
                        window.location.href = url;
                    }
                }
                else if(data['end']) {
                    url = Urls['student:end_game']();
                    url = url + "?nickname={{ nickname }}&id={{ player_id }}";
                    window.location.href = url;
                }
            });
            $("#submit-answer").click(function(){
                var answer = $('input[name=answer]:checked').val();
                webSocketBridge.send({
                    "answer": answer,
                    "question_index": "{{ qidx }}",
                    "player_id": "{{ player_id }}",
                    "campaign_id": "{{ campaignid }}"
                });
                $("#choices").empty();
                $("#set-choices").val("");
                $("#take-quiz-timer").hide();
            });
            // Helpful debugging
            webSocketBridge.socket.onopen = function () {
                console.log("Connected to chat socket");
                var timer = 30;
                var display = $("#take-quiz-timer");
                var event = $("#submit-answer");
                startTimer(timer, display, event);
            };
            webSocketBridge.socket.onclose = function () {
                console.log("Disconnected from chat socket");
            };
        });
    </script>

{% endblock extra_js %}
