{% extends "base.html" %}
{% load static i18n %}
{% block title %}Campaign List{% endblock %}

{% block content %}
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">
                    <a href="{% url 'campaign:create_campaign' %}" class="btn m-btn--pill btn-outline-brand m-btn m-btn--custom btn-success">
                        Create Campaign
                    </a>
                </h3>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <br />
    <div class="m-portlet">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            {% for campaign_obj in campaign_list %}
                {% if forloop.first %}<div class="row m-row--no-padding m-row--col-separator-xl">{% endif %}
                    <div class="col-xl-4">
                        <!--begin:: Widgets/Daily Sales-->
                        <div class="m-widget14 m--align-center">
                            <div class="m-widget14__header m--margin-bottom-30">
                                <h3 class="m-widget14__title">
                                    <a href="{% url 'campaign:update_campaign' campaign_obj.id %}">
                                        {{ campaign_obj.name }}
                                    </a>
                                </h3>
                                <span class="m-widget14__desc">
                                    {{ campaign_obj.description }}
                                </span>
                            </div>
                            <div class="m-widget11__action m--align-center">
                                <a href="{% url 'campaign:start' campaign_obj.id %}" class="btn m-btn--pill btn-outline-brand m-btn m-btn--custom">
                                    Start
                                </a>
                            </div>
                        </div>
                        <!--end:: Widgets/Daily Sales-->
                    </div>
                {% if forloop.counter|divisibleby:3 %}</div><div class="row m-row--no-padding m-row--col-separator-xl">{% endif %}
                {% if forloop.last %}</div>{% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock content %}

