{% extends "base.html" %}
{% block content %}
    <div class="m-content">
        <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <!--begin::Portlet-->
                    <div class="m-portlet m-portlet--tab">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Configurations
                                        <div>Registration closes in <span id="time">05:00</span> minutes!</div>

                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <!--begin::Section-->
                            <div class="m-section">
                                <div class="m-section__content">
                                    <div class="m-demo">
                                        <div class="m-demo__preview">
                                            <div class="m-form__group form-group">
                                                <div class="m-form__group form-group">
                                                    <div class="m-checkbox-list">
                                                        <label class="m-checkbox">
                                                            <input type="checkbox">
                                                            Default Default
                                                            <span></span>
                                                        </label>
                                                        <label class="m-checkbox">
                                                            <input type="checkbox">
                                                            Default Default
                                                            <span></span>
                                                        </label>
                                                        <label class="m-checkbox">
                                                            <input type="checkbox">
                                                            Default Default
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Section-->
                            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit m--align-center">
                                <div class="m-form__actions ">
                                    <button type="button" id="submit-answer" class="btn btn-success">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Portlet-->
                </div>
                <div class="col-md-2"></div>
        </div>
    </div>
{% endblock content %}
