{% extends "base.html" %}
{% load static i18n %}
{% block title %}Game Questions{% endblock %}

{% block content %}

<div class="container">
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-left">Game Questions</h2>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="text-right" id="question-time">00:03</h2>
        </div>
    </div>
    <br />
    <br />

    <div class="list-group">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--skin-dark m-portlet--bordered-semi m--bg-brand">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="flaticon-statistics"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Question
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body" id="questions">
                {{ question.name|striptags|safe }}
            </div>
        </div>
        <!--end::Portlet-->
        <input type="hidden" id="campaign_id" value="{{ campaign_id }}" />
        <input type="hidden" id="choices" value="{{ choices }}" />
        <input type="hidden" id="question_index" value="{{ question_index }}" />
        <button type="button" id="show-choices" class="btn btn-success" style="display:none">Show Choices</button>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
    <script>
        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_path = "/stream/";
            console.log("Connecting to " + ws_path);

            var webSocketBridge = new channels.WebSocketBridge();
            webSocketBridge.connect(ws_path);
            // Handle incoming messages
            webSocketBridge.listen(function(data) {
                if (data['answer']) {
                    window.location.href = data['next_question'];
                }
                else if (data['end']) {
                    window.location.href = Urls['campaign:end_game']();;
                }
                else {
                    console.log("");
                }
            });

            $("#show-choices").click(function(){
                webSocketBridge.send({
                    "choices": $("#choices").val(),
                    "question_index": $("#question_index").val(),
                    "campaign_id": "{{ campaign_id }}"
                });
                $("#show-choices").hide();
            });
            // Helpful debugging
            webSocketBridge.socket.onopen = function () {
                console.log("Connected to chat socket");
            };
            webSocketBridge.socket.onclose = function () {
                console.log("Disconnected from chat socket");
            };

            var timer = 3;
            var display = $("#question-time");
            var event = $("#show-choices");
            startTimer(timer, display, event);
        });
    </script>

{% endblock extra_js %}
