{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <br />
            <br />
            <br />
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Questions
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    {% for values in sections %}
                        {% for key, value in values.items %}
                            {% if value %}
                                <div class="panel-group" id="accordion{{ forloop.parentloop.counter }}">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion{{ forloop.parentloop.counter }}" href="#section{{ forloop.parentloop.counter }}">
                                                {{ key }}</a>
                                            </h4>
                                        </div>
                                        <div id="section{{ forloop.parentloop.counter }}" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                                    <div class="m-demo__preview">
                                                        <div class="m-list-timeline">
                                                            <div class="m-list-timeline__items">
                                                                {% for item in value %}
                                                                    <div class="m-list-timeline__item">
                                                                        <span class="m-list-timeline__badge"></span>
                                                                        <span class="m-list-timeline__text">
                                                                            {{ item.name }}
                                                                        </span>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="m-portlet__foot">
                    <div class="row align-items-center">
                        <div class="col-lg-6 m--valign-middle"></div>
                        <div class="col-lg-6 m--align-right">
                            <a href="{% url 'campaign:list' %}" class="btn btn-brand">
                                Return to list
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock content %}
