{% extends "base.html" %}

{% block content %}
    <!--begin:: Widgets/Top Products-->
    <div class="m-portlet m-portlet--full-height m-portlet--fit ">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text m-widget25__price m--font-brand">
                        {{ game_pin }}
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <form action="{% url 'campaign:start' object.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="campaign-id" name="campaign_id" value="{{ object.id }}">
                <input type="hidden" id="game-pin" name="game_pin" value="{{ game_pin }}">
                <div class="m-widget4 m-widget4--chart-bottom" style="min-height: 480px">
                    <div class="m-widget4__item">
                        <div class="m-widget4__img m-widget4__img--logo">
                            <img src="assets/app/media/img/client-logos/logo3.png" alt="">
                        </div>
                        <div class="m-widget4__info" id="users"></div>
                    </div>
                    <button type="submit" id="start-btn" class="btn btn-success">Start</button>
                </div>
            </form>
        </div>
    </div>
    <!--end:: Widgets/Top Products-->
{% endblock content %}

{% block extra_js %}
    <script>
        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_path = "/stream/";
            console.log("Connecting to " + ws_path);

            var webSocketBridge = new channels.WebSocketBridge();
            webSocketBridge.connect(ws_path);
            // Handle incoming messages
            $("#start-btn").hide();
            webSocketBridge.listen(function(data) {
                var names = $("#names").val();
                if(data['nickname'] || data['game_pin']) {
                    var users = $("#users");
                    var ele = $(
                        `
                            <span class="m-widget4__title">
                                `+ data['nickname'] +`
                            </span>
                            <br>
                            <span class="m-widget4__sub">
                                Joining user
                            </span>
                        `
                    );
                    users.append(ele);
                    $("#start-btn").show();
                }
            });

            $("#start-btn").click(function(){
                webSocketBridge.send({
                    "start": $("#campaign-id").val(),
                    "game_pin": $("#game-pin").val(),
                });
            });
            // Helpful debugging
            webSocketBridge.socket.onopen = function () {
                console.log("Connected to chat socket");
            };
            webSocketBridge.socket.onclose = function () {
                console.log("Disconnected from chat socket");
            }
        });
    </script>

{% endblock extra_js %}
