{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <form class="form-horizontal" method="post" action="{% url 'campaign:update_campaign' object.pk %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
{% endblock content %}
